
			@import "dijit/themes/tundra/tundra.css";
			@import "dojo/resources/dojo.css";
			@import "dojox/grid/resources/Grid.css";
			@import "dojox/layout/resources/FloatingPane.css";
			@import "dojox/layout/resources/ResizeHandle.css";
			@import "dojox/form/resources/UploaderFileList.css";
			


html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}

#srd_loginContainer {
	margin-top:30%;
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	height: 300px;
}	





	
