<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- SitRepDashboard - Global Config Settings for client only mode 
		( no php / server side stuff).

-->
<settings>
	<single_user>true</single_user>
	<runFromServer>false</runFromServer>

	<public_data_directory>sr_data_public</public_data_directory>
	<private_data_directory>sr_data_private</private_data_directory>


	<default_projection>EPSG:4326</default_projection>
	<start_lat>40.713</start_lat>
	<start_lon>-73.998</start_lon>
	<start_zoom>13</start_zoom>
	<include_whiteboard>true</include_whiteboard>

	<layers>


<!-- BASE LAYERS -->
		<layer>
			<id>1</id>
			<name>SitRep GIS</name>	
			<layertype>XYZ</layertype>
			<isBaseLayer>true</isBaseLayer>
			<visibility>true</visibility>
			<projection>EPSG:4326</projection>
			<sphericalMercator>true</sphericalMercator>
			<url>"https://demo.sitrep.org/mq_tiles/${z}/${x}/${y}.png"</url>
			<numZoomLevels>25</numZoomLevels>
		</layer>

		<layer>
			<id>2</id>
			<name>OSM - from openstreetmap.org</name>	
			<layertype>XYZ</layertype>
			<isBaseLayer>true</isBaseLayer>
			<visibility>false</visibility>
			<projection>EPSG:4326</projection>
			<sphericalMercator>true</sphericalMercator>
			<url>[http://a.tile.openstreetmap.org/${z}/${x}/${y}.png,
						http://b.tile.openstreetmap.org/${z}/${x}/${y}.png,
						http://c.tile.openstreetmap.org/${z}/${x}/${y}.png]</url>
			<numZoomLevels>19</numZoomLevels>
			<attribution>OSM Data</attribution>
		</layer>

		<layer>
			<id>3</id>
			<name>MapQuest - from mapquest.org</name>	
			<layertype>XYZ</layertype>
			<isBaseLayer>true</isBaseLayer>
			<visibility>false</visibility>
			<projection>EPSG:4326</projection>
			<sphericalMercator>true</sphericalMercator>
			<url>[http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png,
						http://otile2.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png,
						http://otile3.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png ]</url>
			<numZoomLevels>19</numZoomLevels>
			<attribution>Mapquest Data</attribution>
		</layer>





<!-- OVERLAY LAYERS -->

		<layer>
			<id>4</id>
			<name>NYPD Precincts</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_public/NYPD_PctBoundaries.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#0000FF</fillColor>
					<fillOpacity>0</fillOpacity>
					<strokeColor>#0000FF</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
					<label>${PctName}</label>
					<labelAlign>cc</labelAlign>
					<fontColor>#0000FF</fontColor>
					<fontOpacity>0.9</fontOpacity>
					<fontFamily>Arial</fontFamily>
					<fontSize>14</fontSize>
				</Style>
			</StyleMap>	
		</layer>

		<layer>
			<id>5</id>
			<name>MTA Subway Routes</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_public/MTA_SubwayRoutes.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#0F0050</fillColor>
					<fillOpacity>0.5</fillOpacity>
					<strokeColor>${COLOR}</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
				</Style>
			</StyleMap>	
		</layer>

		<layer>
			<id>6</id>
			<name>MTA Subway Stations</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_public/MTA_SubwayStations.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#000000</fillColor>
					<fillOpacity>0.8</fillOpacity>
					<strokeColor>#FFFFFF</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>3</pointRadius>
				</Style>
			</StyleMap>	
		</layer>

		<layer>
			<id>7</id>
			<name>LIRR Routes</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_public/LIRR_Routes.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#700F00</fillColor>
					<fillOpacity>0.2</fillOpacity>
					<strokeColor>#700F00</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
				</Style>
			</StyleMap>	
		</layer>

		<layer>
			<id>8</id>
			<name>NY County Boundaries</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_public/NYCountyBoundaries.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#00FFFF</fillColor>
					<fillOpacity>0.4</fillOpacity>
					<strokeColor>#000000</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
					<strokeWidth>6</strokeWidth>
					<label>${NAME}</label>
					<labelAlign>cc</labelAlign>
					<fontColor>#0000FF</fontColor>
					<fontOpacity>0.9</fontOpacity>
					<fontFamily>Arial</fontFamily>
					<fontSize>14</fontSize>
				</Style>
			</StyleMap>	
		</layer>





		<layer>
			<id>9</id>
			<name>NYPD Sectors</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_private/NYPD_SectorBoundaries.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#0000FF</fillColor>
					<fillOpacity>0</fillOpacity>
					<strokeColor>#0000FF</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
					<label>${Name}</label>
					<labelAlign>cc</labelAlign>
					<fontColor>#0000FF</fontColor>
					<fontOpacity>0.9</fontOpacity>
					<fontFamily>Arial</fontFamily>
					<fontSize>14</fontSize>
				</Style>
			</StyleMap>	
		</layer>
		<layer>
			<id>10</id>
			<name>ConEd Electric Grid</name>	
			<isBaseLayer>false</isBaseLayer>
			<layertype>Vector</layertype>
			<format>GML</format>
			<url>sr_data_private/ConEd_CityWide.gml</url>
			<projection>EPSG:4326</projection>
			<visibility>false</visibility>
			<StyleMap>
				<Style>
					<name>default</name>
					<fillColor>#00F000</fillColor>
					<fillOpacity>0.1</fillOpacity>
					<strokeColor>#003000</strokeColor>
					<strokeOpacity>1</strokeOpacity>
					<pointRadius>6</pointRadius>
					<label>${area_name}</label>
					<labelAlign>cc</labelAlign>
					<fontColor>#000000</fontColor>
					<fontOpacity>1</fontOpacity>
					<fontFamily>Arial</fontFamily>
					<fontSize>14</fontSize>
				</Style>
			</StyleMap>	
		</layer>




	</layers>


</settings>


